<!DOCTYPE html>
<html class="no-js">

<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">

  <link rel="stylesheet" href="bower_components/ng-dialog/css/ngDialog.css">
  <link rel="stylesheet" href="bower_components/ng-dialog/css/ngdialog-theme-default.css">
  <link rel="stylesheet" href="styles/main.css">
  <link rel="stylesheet" href="styles/robotavatar.css">
  <!--THESE STYLES FOR DEMO PURPOSES ONLY-->
  <style type="text/css">
    body,
    html {
      margin: 0;
      padding: 0;
      height: 100%;
      overflow: hidden;
    }

    #sonera {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0px;
      z-index: 1;
    }
  </style>
  <!-- / -->
</head>

<body>


  <div id="sonera">
    <iframe width="100%" height="100%" frameborder="0" src="http://www.sonera.fi/yrityksille/pienet"></iframe>
  </div>


<div ng-app="robottiFrontApp" id="robot" ng-controller="RobotController">
    <div class="container" ng-init="startAni2 = false;">
          <div class="box-base box2" ng-class="{'move-me': startAni2}">



        <!--<input class="toggle" ng-click="startAni2 = !startAni2" type="image" src="images/Robotavatar.gif" style="width:45px;height:45px;"/> -->

               <!--ROBOTAVATAR STARTS HERE
       <div id="avatarbackground">
        <div id="avatarleye">
        </div>
        <div id="avatarreye">
        </div>
        <div id="avatareyelids">
        </div>
       </div>
       ROBOTAVATAR ENDS HERE-->


        <button class="toggle"
             ng-click="startAni2 = !startAni2">Myyntirobotti</button>
             <hr id="chat-stripe">

        <!--ROBOTAVATAR STARTS HERE-->
       <div id="avatarbackground">
        <div id="avatarleye">
        </div>
        <div id="avatarreye">
        </div>
        <div id="avatareyelids">
        </div>
        <div id="avataragriculture">
        </div>
       </div>
       <!--ROBOTAVATAR ENDS HERE-->

        <div>
          <robo-tree></robo-tree>
      </div>
          </div>
  </div>
</div>


  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
  <script src="bower_components/ng-dialog/js/ngDialog.js"></script>


  <!-- TODO BOOTSTRAP THESE-->
  <script src="scripts/app.js"></script>
  <script src="scripts/main.js"></script>

  <script src="scripts/factories/question.js"></script>
  <script src="scripts/factories/answer.js"></script>
  <script src="scripts/factories/tree.js"></script>

  <script src="scripts/services/treeservice.js"></script>
  <script src="scripts/services/questionservice.js"></script>
  <script src="scripts/services/answerservice.js"></script>

  <script src="scripts/directives/robo-tree.js"></script>
  <script src="scripts/directives/robo-question.js"></script>


</body>

</html>
