          <h1 class="page-header">Dialog</h1>
          <h3 class="sub-header">Overview</h3>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Status</th>
                  <th>Activate</th>
                  <th>Edit</th>
                  <th>Remove</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Dialog 1</td>
                  <td>Lorem</td>
                  <td><label class="switch"><input type="checkbox" checked><i></i></label></td>
                  <td>
                    <button class="btn btn-default conf-btn">
                      <span class="glyphicon glyphicon-cog"></span>
                    </button>
                  </td>
                  <td>
                    <button class="btn btn-default conf-btn">
                      <span class="glyphicon glyphicon-trash"></span>
                    </button>
                  </td>
                </tr>
                <tr>
                  <td>Dialog 2</td>
                  <td>Lorem</td>
                  <td><label class="switch"><input type="checkbox"><i></i></label></td>
                  <td>
                    <button class="btn btn-default conf-btn" aria-label="Left Align">
                      <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                    </button>
                  </td>
                  <td>
                    <button class="btn btn-default conf-btn" aria-label="Left Align">
                      <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                    </button>
                  </td>
                </tr>
                <tr>
                  <td>Dialog 3</td>
                  <td>Lorem</td>
                  <td><label class="switch"><input type="checkbox"><i></i></label></td>
                  <td>
                    <button class="btn btn-default conf-btn" aria-label="Left Align">
                      <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                    </button>
                  </td>
                  <td>
                    <button class="btn btn-default conf-btn" aria-label="Left Align">
                      <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <a href="#/newtree" class="btn btn-normal btn-md new-dialog-btn">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New Dialog
          </a>
