<h1 class="page-header">Dialog</h1>
<h3 class="sub-header">New Dialog</h3>
<p>Here you can add new question trees for the robot to use.</p>
<div class="row">
  <div class="col-sm-12">
    <div ui-tree id="tree-root">
      <form class="form-inline" ng-submit="sendData()">
      <div class="dialog-area">
      <ol class="list-start" ui-tree-nodes data-nodrop="true" ng-model="data">
        <li ng-repeat="node in data" ui-tree-node data-nodrag ng-include="'templates/new-dialog-first-renderer.template.html'"></li>
      </ol>
      </div>
      <button class="col-sm-1 btn btn-normal btn-md new-dialog-btn" type="submit">Create</button>
      </form>
    </div>
  </div>


  <div class="col-sm-6">
  <h3>Data model (dev only):</h3>
    <div class="info">
      {{info}}
    </div>
    <pre class="code">{{ data | json }}</pre>
  </div>
</div>
