<p>{{question.text}}</p>
<div ng-if="question.questionId == '1'">
    <div ng-repeat="answer in question.answerOptions">
        <button ng-click="openQuestionForm(); answerQuestion(answer)">{{answer.text}}</button>
    </div>
</div>

<div ng-if="question.answerType == 'choice' && question.questionId != '1'">
    <div ng-repeat="answer in question.answerOptions">
        <button ng-click="answerQuestion(answer)">{{answer.text}}</button>
    </div>
</div>

<div ng-if="question.answerType == 'checkbox'">
    <div ng-repeat="answer in question.answerOptions">
        <button ng-click="answerQuestion(answer)">{{answer.text}}</button>
    </div>
</div>

<div ng-if="question.answerType == 'form'">
    <p>Puhelin tai sähköposti</p><input type="text" ng-model="contactInfo"></input>
    <div ng-repeat="answer in question.answerOptions">
        <button ng-click="answerQuestion(answer)">{{answer.text}}</button>
    </div>
</div>
