{{question.text}}
<div ng-if="question.id == 'Q1'">
    <div ng-repeat="answer in question.answers">
        <button ng-click="openQuestionForm(); answerQuestion(answer)">{{answer.text}}</button>
    </div>
</div>

<div ng-if="question.answer_type == 'choise' && question.id != 'Q1'">
    <div ng-repeat="answer in question.answers">
        <button ng-click="answerQuestion(answer)">{{answer.text}}</button>
    </div>
</div>

<div ng-if="question.answer_type == 'checkbox'">
    <div ng-repeat="answer in question.answers">
        <button ng-click="answerQuestion(answer)">{{answer.text}}</button>
    </div>
</div>

<div ng-if="question.answer_type == 'form'">
    <p>Puhelin tai sähköposti</p><input type="text" ng-model="contactInfo"></input>
    <div ng-repeat="answer in question.answers">
        <button ng-click="answerQuestion(answer)">{{answer.text}}</button>
    </div>
</div>
